.vscode/*
.vscode/settings.json
**/.vscode/
**/.vscode/*
**/.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

node_modules/
node_modules
package-lock.json
setup/
setup
.env
build
build/
coverage
coverage/

.env
.env.local
.env.development.local
.env.test.local
.env.production.local

TESTING/
